@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  cursor: pointer;
}

code {
  font-family: 'Poppins', sans-serif;
}
